.login-page {
    font-family: "Karla", sans-serif;
    background-color: #d4e4f5;
    min-height: 100vh;
}

.logo-card-img {
    height: 100%;
    width: 100%;
}

.login-btn {
    padding: 13px 20px 12px;
    background-color: #3e849e;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
}

.login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

/* login.css */

.position-relative {
    position: relative;
    bottom: 0px;
}

.overlay-text {
    position: absolute;
    padding: 10px;
    bottom: 0;
}

.overlay-text p {
    margin: 0; /* Menghapus margin pada paragraf */
}

.overlay-text.text-center {
    width: 100%;
}

